.wrapper-component{
    color: white;
    background-color: #2a2d36;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 80vh;

    &-context{
        display: flex;
        flex-direction: row;
        width: 100%;

        *{
            width: 33.3%;
        }
    }

    h1{
        width: 100%;
        position: relative;
        font-weight: 300;
        padding-bottom: 10vh;
        padding-top: 8vh;
    }

    h1::after{
        content: '';
        position: absolute;
        left: 45%;
        bottom: 10vh;
        width: 10%; 
        height: .2vh; 
        background-color: white; 
    }

}