.right-component{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;

    &-text{
        margin-top: 8vh;
        color: grey;
        font-size: .7rem;
    }

    p{
        width: 100%;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}