<div class="right-component">
    <p> BLOK Z DŁUGĄ NAZWĄ KTÓRA SIĘ PRZYTNIE GDY ZAJDZIE POTRZEBA </p>
    <div class="right-component-text">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt et diam id accumsan. In posuere sodales sollicitudin. Sed a ipsum in elit congue molestie quis sit amet neque. Vivamus rhoncus leo augue, in faucibus orci viverra eu. Donec maximus nibh nibh, at tempus tellus cursus a. Nulla sit amet augue sit amet augue dignissim ullamcorper. Vestibulum erat felis, blandit a eleifend et, tincidunt pellentesque felis. Sed bibendum pharetra euismod.
        
        In dapibus bibendum nulla, et congue purus malesuada vitae. Sed tincidunt non lectus et placerat. Duis tempus pharetra lorem et vestibulum. Vivamus fermentum pulvinar libero id luctus. Sed ornare tellus eget dictum placerat. Proin massa justo, dapibus dignissim ligula eu, malesuada ultricies elit. Praesent egestas ac odio sit amet vulputate. Sed varius felis a leo aliquam varius. Quisque velit tellus, sodales vitae libero in, ultrices scelerisque diam. Donec diam eros, scelerisque sed posuere non, bibendum in turpis. Vestibulum lobortis sit amet ex vitae venenatis.
        
    </div>
<div>
