.middle-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-buttons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 6vh;

        button {
            appearance: none;
            background-color: #2a2d36;
            color: grey;
            width: 16vh;
            height: 5vh;
            border: 1px solid grey;
            margin-left: 0;
            font-weight: 600;

            &:hover{
                background: linear-gradient(90deg, rgba(205,116,0,1) 0%, rgba(253,157,34,1) 100%); 
                border: 1px solid white;
                color: white;
            }
        }
    }

    p {
        font-weight: 600;
    }
}